{% extends '@Eckinox/public_base.html.twig' %}
{% trans_default_domain 'application' %}

{% block content %}
    <div class="login-container  password-reset-container">
        <div class="login-form password-reset-form">
            <h3>{% trans %}login.reset.change.title{% endtrans %}</h3>
            <p>{% trans %}login.reset.change.explanation{% endtrans %}</p>

            <div class="field-wrapper">
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
{% endblock %}
