{% extends '@Eckinox/base.html.twig' %}
{% trans_default_domain 'application' %}


{% block header %}
    <h2>{% trans %}dashboard.title.base{% endtrans %}</h2>
{% endblock %}

{% block content %}
    <div class="dashboard-content-wrapper">
        <div class="panel-wrapper left">

        </div>
        <div class="panel-wrapper right">

        </div>
    </div>
{% endblock %}

{% block javascripts %}

{% endblock %}

{% block stylesheets %}

{% endblock %}
