{% trans_default_domain 'general' %}

{% include "@Eckinox/webcomponent/popup.html.twig" %}

<div id="flash" class="{{ app.session.flashbag.peekAll|length > 0 ? 'open' : '' }}">
    <div class="flash-content">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="flash-message {{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    </div>
</div>
