eckinox-popup {box-shadow:0px 0px 0px 9999px rgba(0, 0, 0, 0.5);z-index:100;transition:all 0.3s ease-out;background:#fff;position:fixed!important;top:0;left: 50%;transform:translate(-50%, 15%);}
eckinox-popup:not(.visible) {transform: translate(-50%, -100%);transition-timing-function: ease-in;translate(-50%, -100%);box-shadow:none;}
eckinox-popup .button-list {text-align:center;}
eckinox-popup .button-list .button {padding: 0px 7%;}
eckinox-popup .message {background: transparent}
eckinox-popup:before {left:0;right:0;top:0;bottom:0;background:rgba(0,0,0,0.1);content:" ";}
