{% trans_default_domain 'application' %}

{% set reset_url = url('password_reset', { code: request.code }) %}

<p>{{ 'login.reset.email.content' | trans({ '%reset_url%': reset_url }) | raw | nl2br }}</p>
