{% extends '@Eckinox/base.html.twig' %}
{% trans_default_domain 'app_data' %}

{% block header %}
    <h2>{% trans %}list.title{% endtrans %}</h2>
{% endblock %}

{% block content %}

    <div class="data-list list">
        <div class="row head">
            <div class="column link name">{% trans %}list.fields.name{% endtrans %}</div>
            <div class="column link json">{% trans %}list.fields.json{% endtrans %}</div>
            <div class="column edit-link"></div>
        </div>

        {% for key, obj in data_list %}
            <div class="row item-{{ key }}">
                <div class="column name link">{{ ('data.' ~ key ~ '.title')|trans() }}</div>
                <div class="column json link">{{ obj.json }}</div>
                <a class="column edit-link" href="{{ path('edit_software_data', { data_name: key }) }}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
            </div>
        {% endfor %}
    </div>

{% endblock %}
